# Ignorar diretório target
target/

# Ignorar todos os arquivos .jar
*.jar

# Manter o arquivo maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.jar

# Manter diretório target dentro de src/main e src/test
!**/src/main/**/target/
!**/src/test/**/target/

### VS Code ###
.vscode/

# Ignorar arquivos .class
*.class
